body {
  margin: 0;
  padding: 0;
  font-family: 'Permanent Marker';
  font-size: 32px;
}

.lyrics-nav {
  display: inline-block;
  text-align: center;
  width: 100%;
}

pre.lyrics {
  white-space: pre-line;
  margin: 1em 0 0 1em;
  text-align: center;
  font-family: 'Permanent Marker';
  margin-bottom: 8em;
}

.element {
  text-align: center;
  width: 100%;
  height: 8em;
  display: block;
  position: absolute;
  height: 600px;
  overflow: scroll;
  margin-bottom: 100px;
}

.selected-lyric {
  color: red;
}

.concept h1 {
  margin-top: 3em;
  margin-bottom: -0.4em;
}

.concept p {
  font-family: 'Permanent Marker';
  line-height: 1.4em;
  margin: 0 0 8em 1em;
  text-align: left;
  white-space: pre-line;
}

.concept-quote {

}