body {
  margin: 0;
  color: #000000;
  font-family: 'Barlow', sans-serif;
  padding: 0;
  font-size: 32px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Permanent Marker';
  opacity: 0.7;
  text-align: center;
}

.lyrics-nav {
  display: inline-block;
  text-align: center;
  width: 100%;
}

pre.lyrics {
  white-space: pre-line;
  margin: 1em 0 0 1em;
  text-align: center;
  margin-bottom: 8em;
}

.element {
  text-align: center;
  width: 100%;
  height: 8em;
  display: block;
  position: absolute;
  height: 600px;
  overflow: scroll;
  margin-bottom: 100px;
}

.selected-lyric {
  color: red;
}

.concept h1 {
/*  margin-top: 3em;
  margin-bottom: -0.4em;
  z-index: 0;*/
}

.concept p {
  line-height: 1.4em;
  margin: 0 0 8em 1em;
  text-align: left;
  white-space: pre-line;
}

.concept-quote {
  
}

#background-video {
  -webkit-filter: contrast(140%); /* Safari 6.0 - 9.0 */
  filter: contrast(140%);
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

.background-video-title {
  color: white;
  font-weight: 200;
  opacity: 0.9 !important;
  text-shadow: 1px 1px #202020;
}

.footer {
  font-size: 20px;
  opacity: 0.7;
}

.social-links {
  font-size: 24px;
  padding: 0.8em;
}

.social-links a {
  color: black;
}

.social-links li {
  display: block;
  float: left;
  margin: 0.1em;
}

/*FIX THIS*/
.bio {
  display: flex;
  justify-content: right;
}
/*FIX THIS*/
.later-notice {
  opacity: 1;
}

.bio-text {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  padding: 0 20em 0 20em;
}

.album-title-header {
  color: #4a2f3c;
  opacity: 1;
  text-shadow: 3px 3px 3px white;
  /*border-color: solid 2px black;*/
}

.album-img img {
  margin: 1em;
  height: 40%;
  width: 40%;
}

.copyright {
  font-size: 16px;
}

.arrow {
  opacity: 0;
  position: absolute;
  margin-top: 10em;
  left: 50%;
  top: 50%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.arrow-first {
  -webkit-animation: arrow-movement 2s ease-in-out infinite;
          animation: arrow-movement 2s ease-in-out infinite;
}

.arrow:before,
.arrow:after {
  background: #fff;
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
}

.arrow:before {
  -webkit-transform: rotate(45deg) translateX(-23%);
          transform: rotate(45deg) translateX(-23%);
  -webkit-transform-origin: top left;
          transform-origin: top left;
}

.arrow:after {
  -webkit-transform: rotate(-45deg) translateX(23%);
          transform: rotate(-45deg) translateX(23%);
  -webkit-transform-origin: top right;
          transform-origin: top right;
}

@-webkit-keyframes arrow-movement {
  0% {
    opacity: 0;
    top: 45%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes arrow-movement {
  0% {
    opacity: 0;
    top: 45%;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
